@import '../vendor/bootstrap/bootstrap.less';
@import "../vendor/bootstrap/variables.less";
@import "../vendor/bootstrap/mixins.less";
@import "../vendor/bootstrap/normalize.less";
@import "../vendor/bootstrap/print.less";
@import "../vendor/bootstrap/scaffolding.less";
@import "../vendor/bootstrap/type.less";
@import "../vendor/bootstrap/code.less";
@import "../vendor/bootstrap/grid.less";
@import "../vendor/bootstrap/tables.less";
@import "../vendor/bootstrap/forms.less";
@import "../vendor/bootstrap/buttons.less";
@import "../vendor/bootstrap/glyphicons.less";
// Utility classes
@import "../vendor/bootstrap/utilities.less";
@import "../vendor/bootstrap/responsive-utilities.less";
@import '../fonts/socials_glyphicons/flaticon.css';

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway/Raleway-Regular.ttf");
  src: local('☺'),
  url("../fonts/Raleway/Raleway-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@main_text_color: #666666;
@main_font: Raleway;
@hover_link_color: #d43f3a;
@my-orange: #e25440;

body {
  font-family: 'Raleway', sans-serif;
  font-family: @main_font, sans-serif;
  margin:0;
  padding:0;
}
.content{
  padding: 20px 20px 20px 20px;
}
.header{
  text-align: center;
  .admin-menu{
    ul{
      padding: 0;
      font-style: italic;
      li{
        text-decoration: none;
        display: inline;
      }
      a{
        color: #444444;
      }
      a:hover{
        color: @my-orange;
      }
    }
  }
}

.edit-post{
  text-align: center;
}

/*NEW POST PAGE*/
#post_text_ifr{
  min-height: 300px !important;
}
.new-post{
  text-align: center;
}

.body_post{
  width: 80% !important;
  display: inline-block;
  margin: 0 auto;
}
.hidden{display:none;}
.my-admin-input{
  width: 50%;
  height: 40px;
  padding: 8px;
  border-radius: 0;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(200, 200, 200);
  box-shadow: unset;
}
.my-admin-button{
  background-color: white;
  height: 40px;
  padding: 8px 20px 8px 20px;
  border-radius: 0;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(200, 200, 200);
  box-shadow: unset;
  transition: 0.7s;
}
.my-admin-button:hover {
border-color: @hover_link_color;
}
#select-theme{
  width:50% !important;
  border-radius: 0;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(200, 200, 200);
}
.select2-selection__rendered{
  float: left;
}
/*NEW POST PAGE*/

/*POSTS*/
.post-list-buttons{
  border: none;
  font-size: 22px;
  text-align: center;
  background: transparent;
  text-decoration: none;
  padding: 0;
  line-height: normal;
}