<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %}</title>
        <link rel="shortcut icon" href="/static/image/favicon.ico">
        <link href="../../static/css/admin.css" type="text/css" rel="stylesheet">
        <link href="../../static/vendor/sweet_alert/sweetalert2.min.css" type="text/css" rel="stylesheet">
        <link rel="stylesheet" href="../../static/vendor/Remodal-1.1.1/dist/remodal.css">
        <link rel="stylesheet" href="../../static/vendor/Remodal-1.1.1/dist/remodal-default-theme.css">
        <link rel="stylesheet" href="../../static/vendor/select2/css/select2.min.css">
        <link rel="stylesheet" href="../../static/vendor/font-awesome-4.7.0/css/font-awesome.min.css">
        {% endblock %}
    </head>

    <body>
        <div class="wrapper">
            <header class="header-admin">
                <ul class="topnav menu-list-admin">
                    {% block main_menu %}
                    <li><a class="active" href="/"><i class="glyphicon glyphicon-home"></i> back to site</a></li>
                    <li><a href="/admin/new_post"><i class="glyphicon glyphicon-pencil"></i> new post</a></li>
                    <li><a href="/admin/file_manager"><i class="glyphicon glyphicon-file"></i> file manager</a></li>
                    <li><a href="/admin/posts"><i class="glyphicon glyphicon-list-alt"></i> posts</a></li>
                    <li><a href="/admin/tags"><i class="fa fa-tags"></i> tags</a></li>
                    <li class="right"><a class="active" href="/admin/logout"><i class="glyphicon glyphicon-off"></i> logout</a></li>
                    {% endblock %}
                </ul>
            </header>
            <div class="content">
                {% block content %}{% endblock %}
            </div>
            <!-- <footer class="admin-footer">
                <div class="copy text-center">
                    © 2017 Ivan Moiseev. <a href='/main'>main</a>
                </div>
            </footer> -->
        </div>   
    </body>

    {% block js_library %}
        <script type="text/javascript" src="../../static/vendor/jquery.js"></script>
        <script type="text/javascript" src="../../static/vendor/bootstrap.min.js"></script>
        <script type="text/javascript" src="../../static/vendor/sweet_alert/sweetalert2.min.js"></script>
        <script type="text/javascript" src="../../static/js/main.js"></script>
        <script type="text/javascript" src="../../static/vendor/Remodal-1.1.1/dist/remodal.min.js"></script>
        <script type="text/javascript" src="../../static/vendor/select2/js/select2.min.js"></script>
    {% endblock %}
</html>
