{% extends "admin/base_admin.html" %}
{% block title %}edit{% endblock %}
{% block action %}edit post{% endblock %}
{% block content %}
    <div class="edit-post">
        <input id="title" class="input-post-page title my-admin-input" placeholder="header" value="{{ post.title }}">
        <br><br>
        <select style="width:50% !important;" id="select-theme" class="select-post-theme js-example-tags form-control select2-hidden-accessible" multiple="" tabindex="-1" aria-hidden="true">
            {% for tag in post.tags %}
                <option selected="selected">{{ tag.tag_name }}</option>
            {% endfor %}
            {% for tag in tags %}
                 <option value={{ tag.tag_name }}>{{ tag.tag_name }}</option>
            {% endfor %}
        </select>
        <br><br>
        <div class="body_post">
            <textarea title="Post_text" id="post_text">{{ post.body|safe }}</textarea>
        </div>
        <br><br>
        <button id="save-changes-post" class="my-admin-button" value="{{ post.id }}">save changes</button>
        <br><br>
    </div>
{% endblock %}
{% block js_library %}
    {{ super() }}
    <script src="../../static/js/tinymce/tinymce.min.js"></script>
    <script type="text/javascript" src="../../static/js/edit_post_admin.js"></script>
    <script>
        tinymce.init({
            selector: '#post_text',
            relative_urls: false,
            plugins: ['image textcolor'],
            toolbar: 'styleselect | alignleft aligncenter alignright alignjustify ' +
            '| bullist numlist outdent indent | image | forecolor',
         
        });
    </script>
    <script>
        $(document).ready(function () {
            setTimeout(function(){
                var safe_text = $('#post_text').text();
                tinymce.get('post_text').setContent(safe_text);
        },1000);
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function() {
         $(".select-post-theme").select2({
             tags:true
         });
        });
    </script>
{% endblock %}