{% extends "admin/base_admin.html" %}
{% block title %}new{% endblock %}
{% block action %}create new post{% endblock %}
{% block content %}
    <div class="new-post">
        <input id="title" class="my-admin-input" placeholder="header" type="text" value="{{ request.form.title }}" required>
        <br><br>
        <select style="width:50% !important;" id="select-theme" class="select-post-theme js-example-tags form-control select2-hidden-accessible" multiple="" tabindex="-1" aria-hidden="true">
            {% for tag in tags %}
                 <option value={{ tag.tag_name }}>{{ tag.tag_name }}</option>
            {% endfor %}
        </select>
        <br><br>
        <div class="body_post">
            <textarea id="post_text">{{ request.form.text }}</textarea>
        </div>
        <br><br>
        <button class="my-admin-button save-post-button">save post</button>
        <br>
    </div>
{% endblock %}
{% block js_library %}
    {{ super() }}
    <script src="../../static/js/tinymce/tinymce.min.js"></script>
    <script type="text/javascript" src="../../static/js/create_posts.js"></script>
    <script>
        tinymce.init({
            selector: '#post_text',
            relative_urls: false,
            plugins: ['image textcolor'],
            /*plugins: [
              'advlist autolink link image lists charmap print preview hr anchor pagebreak spellchecker',
              'searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime  nonbreaking',
              'save contextmenu directionality template paste textcolor'
            ],*/
            toolbar: 'styleselect | alignleft aligncenter alignright alignjustify ' +
            '| bullist numlist outdent indent | image | forecolor',
            //link image | print preview fullpage | forecolor backcolor',
            //image_advtab: true
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function() {
         $(".select-post-theme").select2({
             tags:true
         });
        });
    </script>
{% endblock %}