{% extends "admin/base_admin.html" %}
{% block title %}posts{% endblock %}
{% block action %}posts list{% endblock %}
<!--table-bordered 
table-hover -->
{% block content %}
    <div style="width: 90%; margin: 0 auto;" class="message">
        {% if delete_message %}
        <div class="alert alert-success alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          post <strong>"{{ delete_message }}"</strong> successfull deleted
        </div>
        {% elif publicate_message %}
        <div class="alert alert-info alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          post <strong>"{{ publicate_message }}"</strong> successfull publicated
        </div>
        {% elif unpublicate_message %}
        <div class="alert alert-warning alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          post <strong>"{{ unpublicate_message }}"</strong> successfull unpublicated
        </div>
        {% endif %}
    </div>
    <div style="width: 90%; margin: 0 auto;" class="posts-table">
    <div class="table-responsive">
        <table class="table table-condensed table-striped  post-list">
            <thead>
                <tr>
                    <th>name</th>
                    <th style="width: 150px;">tags</th>
                    <th style="width: 120px;">last edit</th>
                    <th style="width: 120px;">published</th>
                    <th style="width: 30px;">&nbsp;</th>
                    <th style="width: 30px;">&nbsp;</th>
                    <th style="width: 30px;">&nbsp;</th>
                </tr>
            </thead>
            {% for post in posts %}
            <tr>
                <td>{{ post.title }}</td>
                <td>
                {% for tag in post.tags %}
                <p>{{ tag.tag_name }}</p> 
                {% endfor %}
                </td>
                <td>{{ post.published_date }}</td>
                <td>{{ post.published_date }}</td>
                <td>
                    <form class="icon" method="POST" action={{ url_for('delete_post') }}>
                        <button class="post-list-buttons post-delete-button" name="postid" value="{{ post.id }}">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </button>
                    </form>
                </td>
                <td>
                    <form class="icon" method="GET" action={{ '/admin/edit/' + post.id|string}}>
                        <button class="post-list-buttons post-edit-button">
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                        </button>
                    </form>
                </td>
                <td>
                    <form class="icon" method="POST" action={{ url_for('publicate_post') }}>
                        <button class="post-list-buttons post-publicate-button" name="arguments" value="{{ post.id|string + ',' + post.published|string }}">
                            {% if post.published == 1 %}
                            <!--<i style="color: #e25440;" class="fa fa-minus" aria-hidden="true"></i>-->
                            <i class="fa fa-minus" aria-hidden="true"></i>
                            {% else %}
                            <!--<i style="color: #32ab53;" class="fa fa-plus" aria-hidden="true"></i>-->
                            <i  class="fa fa-plus" aria-hidden="true"></i>
                            {% endif %}
                        </button>
                    </form>
                </td>
            </tr> 
            {% endfor %}
        </table>
        </div>
    </div>
{% endblock %}