<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>_create_new_post</title>
        <link href="/templates/admin/temp/main.css" type="text/css" rel="stylesheet">
        <link href="/static/vendor/sweet_alert/sweetalert2.min.css" type="text/css" rel="stylesheet">
    </head>
    <body id="create_new_post_body">
        <div class="container new_post">
            <h3>new shit</h3>
            <input id="title" class="form-control title" placeholder="title" value="{{ request.form.title }}" required>
            <br>
            <br>
            <div class="dropdown">
              <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                post type
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li tabindex="3"><a href="#">python</a></li>
                <li tabindex="4"><a href="#">ruby</a></li>
                <li tabindex="1"><a href="#">c++</a></li>
              </ul>
            </div>
            <br>
            <br>
            <div class="body_post">
                <textarea id="post_text">{{ request.form.text }}</textarea>
                <input name="image" type="file" id="upload" class="hidden" onchange="">
            </div>
            <br>
            <br>
            <button id="crt_btn" class="crt btn btn-success">create_post</button>
            <a href="{{ url_for('main_page') }}">main_page</a>
            <br>
            <br>
        </div>
    </body>
    <script src="../../../static/js/tinymce/tinymce.min.js"></script>
    <script type="text/javascript" src="../../../static/vendor/jquery.js"></script>
    <script type="text/javascript" src="../../../static/vendor/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../../static/js/main.js"></script>
    <script type="text/javascript" src="../../../static/vendor/sweet_alert/sweetalert2.min.js"></script>
    <script type="text/javascript" src="../../../static/js/create_posts.js"></script>
    <script type="text/javascript" src="../../../static/vendor/highlite/highlight.pack.js"></script>
    <script>
        tinymce.init({
            selector: '#post_text',
            relative_urls: false,
            plugins: [
              'advlist autolink link image lists charmap print preview hr anchor pagebreak spellchecker',
              'searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime  nonbreaking',
              'save table contextmenu directionality emoticons template paste textcolor'
            ],
            toolbar: 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | print preview fullpage | forecolor backcolor emoticons',
            image_advtab: true
        });
    </script>
    <script>
       $(document).on('click', '.dropdown-menu li a', function () {
            var selText = $(this).text();
            $('#dropdownMenu1').html(selText + '  ' + '<span class="caret"</span>');
        });
    </script>

</html>
